body {
  font-family: Roboto, Arial;
  color: white;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 96px;
  font-family: Caprasimo;
  font-style: italic;
  margin-top: 16px;
  margin-bottom: 0px;
  text-shadow: -4px -1px black;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 67%,
    rgba(0, 212, 255, 1) 100%
  );
  z-index: -100;
}

.toplist {
  padding: 40px;
}
table {
  font-size: 32px;
  padding: auto;
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 12px 8px;
  font-weight: bold;
}
thead {
  font-weight: bold;
  border-bottom: 2px solid white;
}

th {
  font-size: 24px;
  cursor: pointer;
}

tbody tr:hover,
th:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

td td-coin {
  display: flex;
  justify-content: center;
}

td .volume {
  text-align: left;
  font-size: 28px;
}

.price {
  font-weight: bold;
}

@media screen and (max-width: 1600px) {
  td:nth-child(n + 3):nth-child(-n + 6),
  th:nth-child(n + 3):nth-child(-n + 6) {
    display: none;
  }
  h1 {
    font-size: 64px;
    margin-top: 10px;
  }
  .toplist {
    padding: 24px;
  }
  table {
    font-size: 20px;
  }
  th,
  td {
    padding: 8px 4px;
    font-weight: bold;
  }

  th {
    font-size: 16px;
    cursor: pointer;
  }
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 32px;
    margin-top: 5px;
  }
  .toplist {
    padding: 12px;
  }
  table {
    font-size: 10px;
  }
  th,
  td {
    padding: 4px 2px;
    font-weight: bold;
  }
  th {
    font-size: 8px;
    cursor: pointer;
  }
  td {
    width: 200px;
  }
}
