.coin {
  padding: 10px 0px 10px 20px;
  position: relative;
}

.coin .right {
  margin: auto;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20%;
}

.coin p,
.coin img {
  cursor: pointer;
}

.coin img {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(0, -50%);
  width: 1.75em;
  height: auto;
}

.coin p {
  line-height: 36px;
  font-weight: bold;
}

.coin span.id {
  color: rgba(255, 255, 255, 0.655);
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .coin {
    padding: 0px;
  }
  .coin p,
  .coin span {
    line-height: 14px;
  }
  .coin .right {
    padding-left: 35%;
  }
}
