.toplist {
  padding: 40px;
}

table {
  font-size: 32px;
  padding: auto;
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 12px 8px;
  font-weight: bold;
}
thead {
  font-weight: bold;
  border-bottom: 2px solid white;
}

th {
  font-size: 24px;
  cursor: pointer;
}

tbody tr:hover,
th:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

td td-coin {
  display: flex;
  justify-content: center;
}

td .volume {
  text-align: left;
}

.price {
  font-weight: bold;
}

.change {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  padding: 10px;
}

.lower-color {
  color: rgb(196, 4, 4);
}
.higher-color {
  color: rgb(3, 136, 3);
}
.normal-color {
  color: white;
}

@media screen and (max-width: 1600px) {

  .toplist {
    padding: 24px;
  }
  table {
    font-size: 20px;
  }
  th,
  td {
    padding: 8px 4px;
    font-weight: bold;
  }

  th {
    font-size: 16px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  td:nth-child(n + 3):nth-child(-n + 6),
  th:nth-child(n + 3):nth-child(-n + 6) {
    display: none;
  }
}

@media screen and (max-width: 769px) {

  .toplist {
    padding: 12px;
  }
  table {
    font-size: 10px;
  }
  th,
  td {
    padding: 4px 2px;
    font-weight: bold;
  }
  th {
    font-size: 8px;
    cursor: pointer;
  }
  td {
    width: 200px;
  }
}
